<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/cadastro" method="post">
<div>
Id: <input type="text" disabled>
</div>
<div>
Nome: <input type="text" name="nome">
</div>
<div>
Validade da promoção: <input type="text" name="validade"> 
</div>
Preço: <input type="number" name="preco">
<div>
<input type="submit" value="Adicionar">
</div>
</form>
<form action="/lista" method="get">
<div>
Nome: <input type="text" name="nome">
</div>
<div><input type="submit" value="Pesquisar"></div>
</form>
</body>
</html>